[submodule "MOOD2Be"]
	path = MOOD2Be
	url = git@github.com:MiRON-project/MOOD2Be.git
[submodule "mrpt"]
	path = mrpt
	url = git@github.com:MiRON-project/mrpt.git
[submodule "webots"]
	path = webots
	url = git@github.com:MiRON-project/webots.git
[submodule "Groot"]
	path = Groot
	url = git@github.com:MiRON-project/Groot.git
[submodule "bundles"]
	path = bundles
	url = git@github.com:MiRON-project/bundles.git
[submodule "ZMQServer"]
	path = ZMQServer
	url = git@github.com:MiRON-project/ZMQServer.git
